@import url("https://fonts.googleapis.com/css?family=Poppins");
.teamCnt {
  background-color: #fae1d54d;
  width: 100%;
  height: 530px;
  margin-top: 10%;
  display: flex;
}
.poster {
  width: 400px;
  height: 300px;
  position: relative;
  left: 12%;
  top: 24%;
}
.teamInfo {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
  height: 50%;
  top: 20%;
  left: 20%;
}
.teamTitle {
  font-size: 40px !important;
  line-height: 60px !important;

  color: #111012;
}
.teamDesc {
  line-height: 150% !important;
  /* or 24px */
  margin-top: 3% !important;
  color: #111012;
}
.supTitle {
  font-weight: 600 !important;
  line-height: 22px !important;
}
.teamBtn {
  position: relative;
  top: 8%;
  width: 30%;
}
